    <!-- content -->
    <main class="content">
        <div class="container-fluid p-0">
  
          <div class="row topbar mb-4">
            <div class="col-10 d-flex">
              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                      <input type="text" class="form-control border-0 small" placeholder="Buscar vehículo"
                          aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                          <button class="btn btn-primary" type="button">
                            <i class="bi bi-search"></i>
                          </button>
                      </div>
                  </div>
              </form>
            </div>
            <div class="col-2 d-flex btn-add">
              <button type="button" class="btn"><i class="bi bi-plus"></i>Agregar</button>
            </div>
          </div>
 
          <div class="row">
            <div class="col-12 d-flex">
              <div class="card flex-fill">
                <div class="card-header">
  
                  <h5 class="card-title mb-0">Listado de vehículos</h5>
                </div>
                <table class="table table-hover my-0">
                  <thead>
                    <tr>
                      <th>Típo</th>
                      <th class="d-none d-xl-table-cell">Estado</th>
                      <th class="d-none d-xl-table-cell">Dominio</th>
                      <th>Largo [m]</th>
                      <th class="d-none d-md-table-cell">Kilometraje</th>
                      <th class="d-none d-md-table-cell">Marca</th>
                      <th class="d-none d-md-table-cell">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>TIPO VEHICULO</td>
                      <td class="d-none d-xl-table-cell">ESTADO VEH</td>
                      <td class="d-none d-xl-table-cell">DOMINIO VEH</td>
                      <td><span class="d-none d-md-table-cell">LARGO</span></td>
                      <td class="d-none d-md-table-cell">KILOMETRAJE</td>
                      <td class="d-none d-md-table-cell">MARCA VEH</td>
                      <td class="d-none d-md-table-cell">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i></button>
                          <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  
        </div>
      </main>
  