
<div class="wrapper">

  <!-- sidebar -->
  <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand flex-column" routerLink="/inicio">
          <img src="../assets/logos/logifreight.png" alt="LogiFreight" id="logo">
          <span class="align-middle">LogiFreight</span>
        </a>
        <br>
        <ul class="sidebar-nav">
  
          <li class="sidebar-item">
            <a class="sidebar-link active" routerLink="/inicio">
              <i class="bi bi-grid-1x2-fill"></i> <span class="align-middle">Dashboard</span>
            </a>
          </li>
  
          <li class="sidebar-item">
            <a class="sidebar-link align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#vehiculo-collapse" aria-expanded="false">
              <i class="bi bi-truck"></i><span class="align-middle">Vehículo</span>
            </a>
            <div class="collapse" id="vehiculo-collapse">

              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a routerLink="/vehiculo">Vehículo</a></li>
                <li><a routerLink="/vehiculo">Vencimientos</a></li>
                <li><a routerLink="/vehiculo">Estado Vehículo</a></li>
                <li><a routerLink="/vehiculo">Tipo Vehículo</a></li>
                <li><a routerLink="/vehiculo">Parámetros de Vencimiento</a></li>
              </ul>
            </div>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#mantenimiento-collapse" aria-expanded="false">
              <i class="bi bi-tools"></i> <span class="align-middle">Mantenimiento</span>
            </a>
            <div class="collapse" id="mantenimiento-collapse">

              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a routerLink="/mantenimiento">Vehiculos</a></li>
                <li><a routerLink="/mantenimiento">Cubiertas</a></li>
                <li><a routerLink="/mantenimiento">Parametro Eje</a></li>
                <li><a routerLink="/mantenimiento">Parametro Movimiento</a></li>
                <li><a routerLink="/mantenimiento">Movimiento Cubiertas</a></li>
              </ul>
            </div>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#viaje-collapse" aria-expanded="false">
              <i class="bi bi-globe2"></i> <span class="align-middle">Viajes</span>
            </a>
            <div class="collapse" id="viaje-collapse">

              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a routerLink="/viaje">Alta Viaje</a></li>
                <li><a routerLink="/viaje">Realizar Rendición Viaje</a></li>
                <li><a routerLink="/viaje">Modificar Rendición</a></li>
                <li><a routerLink="/viaje">Tipo Viatico</a></li>
              </ul>
            </div>
          </li>
  
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/clientes">
              <i class="bi bi-person-check"></i> <span class="align-middle">Clientes</span>
            </a>
          </li>
  
          <li class="sidebar-item">
            <a class="sidebar-link align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#choferes-collapse" aria-expanded="false">
              <i class="bi bi-person-lines-fill"></i> <span class="align-middle">Choferes</span>
            </a>
            <div class="collapse" id="choferes-collapse">

              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a routerLink="/choferes">Choferes</a></li>
                <li><a routerLink="/choferes">Carnet</a></li>
                <li><a routerLink="/choferes">Estado Chofer</a></li>
              </ul>
            </div>
          </li>
  
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/reportes">
              <i class="bi bi-clipboard-data"></i> <span class="align-middle">Reportes</span>
            </a>
          </li>
  
          <li class="sidebar-item">
            <a class="sidebar-link align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#seguridad-collapse" aria-expanded="false">
              <i class="bi bi-shield-shaded"></i> <span class="align-middle">Seguridad</span>
            </a>
            <div class="collapse" id="seguridad-collapse">

              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a routerLink="/seguridad">Alta Usuario</a></li>
                <li><a routerLink="/seguridad">Modificar Usuario</a></li>
                <li><a routerLink="/seguridad">Alta Rol</a></li>
                <li><a routerLink="/seguridad">Modificar Rol</a></li>
                <li><a routerLink="/seguridad">Alta Permiso</a></li>
                <li><a routerLink="/seguridad">Modificar Permiso</a></li>
                <li><a routerLink="/seguridad">Sesión Usuario</a></li>
              </ul>
            </div>
          </li>
  
          <li class="sidebar-item">
            <a class="sidebar-link align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#backup-collapse" aria-expanded="false">
              <i class="bi bi-hdd"></i> <span class="align-middle">Backup y Recuperación</span>
            </a>
            <div class="collapse" id="backup-collapse">

              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a routerLink="/backup">Realizar Backup</a></li>
                <li><a routerLink="/backup">Realizar Recuperación</a></li>
              </ul>
            </div>
          </li>

        </ul>
        <footer class="sidebar-footer">
          <h6 class="text-center">Version 1.0 Beta</h6>
        </footer>
    </div>
  </nav>

  
  <div class="main">
    <!-- navbar -->
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
      </a>
      <div class="nav-name">
        <span class="align-middle mx-4">NAME COMPONENT</span>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
          <div class="navbar-divider d-none d-sm-block"></div>
          <li class="nav-item dropdown">
            <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
              <div class="position-relative">
                <i class="bi bi-bell"></i>
                <span class="indicator">4</span>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
              <div class="dropdown-menu-header">
                4 New Notifications
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <div class="row g-0 align-items-center">
                    <div class="col-2">
                      <i class="text-danger" data-feather="alert-circle"></i>
                    </div>
                    <div class="col-10">
                      <div class="text-dark">Update completed</div>
                      <div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
                      <div class="text-muted small mt-1">30m ago</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="dropdown-menu-footer">
                <a href="#" class="text-muted">Show all notifications</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
              <i class="align-middle" data-feather="settings"></i>
            </a>

            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
              <img src="../assets/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">Charles Hall</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cerrar Sesión</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- content -->
    <router-outlet></router-outlet>

  </div>
</div>